body {
  background-color: #f0fff0;
}
.rectangle {
  position: absolute;
  margin: 0 auto;
  background: #000000;
  color: #ffffff;
  text-align: center;
  width: 404px;
  height: 490px;
}
.img {
  color: #ffffff;
  width: 140px;
  height: 140px;
  padding-top: 13px;
  margin-left: 126px;
}

.welcome {
  font-family: "Montserrat", normal;
  text-align: center;
  font-size: 29px;
  letter-spacing: 0.39em;
  margin-top: 26px;
  padding-bottom: 40px;
}
a.button-1,
a.button-2 {
  display: block;
  letter-spacing: 0.12em;
  border: 4px solid #ffffff;
  text-align: center;
  margin-left: 58px;
  margin-right: 44px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a.button-1 {
  margin-bottom: 26px;
}

a.button-1:hover {
  background-color: dimgray;
}

a.button-2:hover {
  background-color: dimgray;
}

a {
  color: #ffffff;
  font-family: "Montserrat", bold;
  text-decoration: none;
}
